.header {
    background-color: blue;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    float:left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
  }

.active {
    background-color: darkgray;
}
/* 
#nav {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
}

#nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

#skyline {
    float: left;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
} */

html {
    scroll-behavior: smooth;
}